* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.header {
    /* background-color: black; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                        url('images/hero.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    height: 100px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
    padding: 20px 0;
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    color: white;
    padding: 5px 0;
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-bottom 0.2s, color 0.2s;
}

li a:hover {
    /* color: red; */
    border-bottom: 2px solid orange;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hero-text {
    font-weight: 300;
    /* 48px */
    font-size: 240%; 
    word-spacing: 4;
}

/* common styles*/
.btn {
    display: inline-block;
    /* anchor tags are inline by default*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 200px;
}

.btn:hover, btn:active {
    background-color: #cf6d17;
}

.btn-full {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost {
    border: 1px solid;
    color: orangered;
    transition: color 0.2s;
}

.btn-full:hover, .btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,  .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: white;
}

/* Lecture 7 */

.features {
    padding: 80px;
}

h2 {
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: 30px auto;
    /* margin-top: 30px; */
}

.features-text {
    width: 800px;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: stretch;
    margin-top: 30px;
}

/*
This does not require the divs to be a direct child of .cards
.cards div {
    width: 25%;
    /* text-align: center; 
}
*/

.cards p {
    text-align: justify;
    line-height: 145%;
    font-size: 90%;
}

/* direct child */
.cards > div {
    width: 25%;
    padding: 15px;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin: 15px 0px;
}

.big-icon {
    font-size: 350%;
    color: #e67e22;
    --ionicon-stroke-width: 20px;
}

h2 {
    font-weight: 300;
    font-size: 180%;
}

.meals-flexbox {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    overflow: hidden;

}

.meals-flexbox img {
    width: 25%;
    opacity: 0.7;
    background-image: url('resources/images/1.jpg');
    transition: opacity 0.5s;
    /* This effect requires a zoom out effect. So we keep the initial photo zoomed in*/
    /* transform: scale(1.15); */
    /* overflow: hidden; */
}

.meals-flexbox img:hover {
    opacity: 1;
    /* transform: scale(1); */
}





