#box {
    padding: 50px;
}



h1 {
    color: rgba(41, 173, 138, 0.8);
} 

/* div {
    color: green;
    font-size: 25px;
} */

/* .green, #greenh2 {
    color: green;
    font-size: 25px;
}




/* #greenh2 {
    color: green;
    font-size: 25px;
} */

