* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.menu {
    background-color: lightblue;
    height: 100px;
    text-align: center;
}

.sidebar{
    height: 200px;
    width: 100px;
    background-color: red;
    text-align: center;
    float: left; 
    /* those with float can be placed over those with no float */
}

.content {
    /* height: 350px; */
    width: 500px;
    background-color: orange;
    text-align: center;
    float: left; 
    margin-bottom: 5px;
}

.footer {
    background-color: lightblue;
    /* height: 170px; */
    text-align: center;
    clear: both; /* Only need this for item just after floated element. */
    overflow: hidden;
}

.page {
    background-color: aquamarine;
    /* border: 2px solid black; */
    overflow: hidden;
    margin: auto;
    width: 800px;
}

body {
    background-color: aquamarine;
}

.image {
    height: 100px;
    width: 100px;
    background-color: black;
    float: left;
    padding: 20px;
    margin: 20px;
}
p {
    text-align: justify;
}

.column {
    height: 150px;
    width: 31%;
    background-color: cornflowerblue;
    float: left;
    margin: 1%; /* margin: auto does not work with float: left or right */
}

/* .container {
    margin: auto;
    clear: both; 
} */