* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* background-color: black; */
    background-image: url('images/hero.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}